.navbar-bg{
  background-color:whitesmoke;
}
.logo{ 
  color: black;
  
}

.navbar{
  padding-right: 60px;
}
.li-items{
  padding: 20px;
  color:black;
  font-size: 15px;
  font-weight: 50px;
  text-decoration: none;
}

.btn{
  background-color: blueviolet;

}

.hems{
padding-right:450px;
padding-bottom: 120px;
text-transform: capitalize;
color:white;
  
}
.rent{
  padding: 80px;
  padding-bottom: 3px;
  padding-left: 39px;
}
.head{
  font-size: 45px;
}
.price{
  font-size: 20px;
}
.img{
  height: 100vh;
}


.cards{
  margin: 10px;
}
.item{
  flex-wrap:wrap 
}
.items{
  flex-wrap: wrap;
}
.two{
  padding-top: 10px;
  margin-left: 90px;
  position: absolute;

}
.items{
  padding: 50px;
  
}
li{
  list-style-type: none;
}
.pri{
  margin-left: 50px;
}